<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-transparent navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand mr-lg-5" href="./index.html">
                <img src="./assets/img/brand/brand.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="./assets/img/brand/brand.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center justify-content-center w-100">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-toggle="dropdown" href="#" role="button">
                            <i class="ni ni-ui-04 d-lg-none"></i>
                            <span class="nav-link-inner--text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                            <i class="ni ni-ui-04 d-lg-none"></i>
                            <span class="nav-link-inner--text">Projects</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                            <i class="ni ni-ui-04 d-lg-none"></i>
                            <span class="nav-link-inner--text">Toolshelf</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                            <i class="ni ni-ui-04 d-lg-none"></i>
                            <span class="nav-link-inner--text">Network</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="envelope">
                            <i class="fa fa-envelope-o"></i>
                            <span class="nav-link-inner--text d-lg-none">commenting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="commenting">
                            <i class="fa fa-commenting-o"></i>
                            <span class="nav-link-inner--text d-lg-none">commenting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="setting">
                            <i class="fa fa-cog"></i>
                            <span class="nav-link-inner--text d-lg-none">Setting</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block ml-lg-4 dropdown">
                        <div class="" data-toggle="dropdown" aria-haspopup="true">
                            <img src="../../../assets/img/user-log.png" alt="user" class="img-circle">
                        </div>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 _ngcontent-c3="" class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="./main/profile" class="dropdown-item">
                                <i class="ni ni-single-02"></i> My Profile
                            </a>
                            <a href="" class="dropdown-item">
                                <i class="ni ni-calendar-grid-58"></i>Activity
                            </a>
                            <a href="" class="dropdown-item">
                                <i class="ni ni-support-16"></i>Support
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item">LogOut</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="section section-components dashboard-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <h4 class="pt-5">Activity</h4>
                    <div class="card">
                        <div class="card-header bg-white p-0">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Search" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-items w-100 pl-0 mb-0">
                                <li class="list-item p-3">
                                    <div class="w-100 mb-3" role="tab" id="headingOne_1">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1" class="d-flex justify-content-between">
                                            <div class="d-flex justify-content-lg-center">
                                                <img src="../../../assets/img/user-log.png" alt="" class="img-circle mr-3" width="40" height="40">
                                                <div>
                                                    <h6 class="item-title m-0">John R. Doe Uploaded Photos</h6>
                                                    <p class="item-description m-0">365 Boyer Circle, Lafayette #DE80090</p>
                                                    <p class="text-muted item-info m-0">TToday at 1:22pm</p>
                                                </div>
                                            </div>
                                            <div class="ml-auto dropdown">
                                                <div class="" data-toggle="dropdown" aria-haspopup="true">
                                                    <i class="fa fa-plus-circle"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-ungroup"></i>Review
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-email-83"></i>Message
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-spaceship"></i>Reschedule
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="true">
                                        <div class="panel-body d-flex justify-content-start">
                                            <div class="px-4"></div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="pl-5">
                                            <a href="" class="text-muted item-info">View all photos</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item p-3">
                                    <div class="w-100 mb-3" role="tab" id="headingOne_2">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion_2" href="#collapseOne_2" aria-expanded="true" aria-controls="collapseOne_2" class="d-flex justify-content-between">
                                            <div class="d-flex justify-content-lg-center">
                                                <img src="../../../assets/img/group2.png" alt="" class="img-circle mr-3" width="40" height="40">
                                                <div>
                                                    <h6 class="item-title m-0">John R. Doe Uploaded Photos</h6>
                                                    <p class="item-description m-0">365 Boyer Circle, Lafayette #DE80090</p>
                                                    <p class="text-muted item-info m-0">TToday at 1:22pm</p>
                                                </div>
                                            </div>
                                            <div class="ml-auto dropdown">
                                                <div class="" data-toggle="dropdown" aria-haspopup="true">
                                                    <i class="fa fa-plus-circle"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-ungroup"></i>Review
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-email-83"></i>Message
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-spaceship"></i>Reschedule
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne_2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_2" aria-expanded="true">
                                        <div class="panel-body d-flex justify-content-start">
                                            <div class="px-4"></div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="pl-5">
                                            <a href="" class="text-muted item-info">View all photos</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item p-3">
                                    <div class="w-100 mb-3" role="tab" id="headingOne_1">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_3" aria-expanded="true" aria-controls="collapseOne_3" class="d-flex justify-content-between">
                                            <div class="d-flex justify-content-lg-center">
                                                <img src="../../../assets/img/image-19.png" alt="" class="img-circle mr-3" width="40" height="40">
                                                <div>
                                                    <h6 class="item-title m-0">John R. Doe Uploaded Photos</h6>
                                                    <p class="item-description m-0">365 Boyer Circle, Lafayette #DE80090</p>
                                                    <p class="text-muted item-info m-0">TToday at 1:22pm</p>
                                                </div>
                                            </div>
                                            <div class="ml-auto dropdown">
                                                <div class="" data-toggle="dropdown" aria-haspopup="true">
                                                    <i class="fa fa-plus-circle"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-ungroup"></i>Review
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-email-83"></i>Message
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-spaceship"></i>Reschedule
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne_3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="true">
                                        <div class="panel-body d-flex justify-content-start">
                                            <div class="px-4"></div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="pl-5">
                                            <a href="" class="text-muted item-info">View all photos</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item p-3">
                                    <div class="w-100 mb-3" role="tab" id="headingOne_1">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_4" aria-expanded="true" aria-controls="collapseOne_1" class="d-flex justify-content-between">
                                            <div class="d-flex justify-content-lg-center">
                                                <img src="../../../assets/img/group1.png" alt="" class="img-circle mr-3" width="40" height="40">
                                                <div>
                                                    <h6 class="item-title m-0">John R. Doe Uploaded Photos</h6>
                                                    <p class="item-description m-0">365 Boyer Circle, Lafayette #DE80090</p>
                                                    <p class="text-muted item-info m-0">TToday at 1:22pm</p>
                                                </div>
                                            </div>
                                            <div class="ml-auto dropdown">
                                                <div class="" data-toggle="dropdown" aria-haspopup="true">
                                                    <i class="fa fa-plus-circle"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-ungroup"></i>Review
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-email-83"></i>Message
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="ni ni-spaceship"></i>Reschedule
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne_4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="true">
                                        <div class="panel-body d-flex justify-content-start">
                                            <div class="px-4"></div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                            <div class="panel-img p-2">
                                                <img src="../../../assets/img/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="pl-5">
                                            <a href="" class="text-muted item-info">View all photos</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h4 class="pt-5">Homebuilder</h4>
                    <div class="card">
                        <div class="card-header bg-white p-0">
                            <div class="form-group m-0">
                                <div class="input-group form-control">
                                    <a href="" class="btn-add">Add Item</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-items w-100 pl-0 mb-0">
                                <li class="list-item d-flex justify-content-lg-between p-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="customCheck" type="checkbox" checked="checked">
                                            <label class="custom-control-label d-block" for="customCheck"></label>
                                        </div>
                                        <div>
                                            <h6 class="item-title m-0">Buy windows</h6>
                                            <p class="text-muted item-info m-0">#DE 8009 Description lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                    <div class="ml-auto d-flex">
                                        <div class="d-flex flex-column">
                                            <span class="text-danger">ABC</span>
                                            <span class="badge badge-pill badge-danger text-uppercase m-0">High Price</span>
                                        </div>
                                        <img src="../../../assets/img/user-log.png" alt="" class="img-circle mx-3" width="40" height="40">
                                    </div>
                                </li>
                                <li class="list-item d-flex justify-content-lg-between p-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="customCheck2" type="checkbox" checked="checked">
                                            <label class="custom-control-label d-block" for="customCheck2"></label>
                                        </div>
                                        <div>
                                            <h6 class="item-title m-0">Buy windows</h6>
                                            <p class="text-muted item-info m-0">#DE 8009 Description lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                    <div class="ml-auto d-flex">
                                        <div class="d-flex flex-column">
                                            <span class="">Tomorrow</span>
                                            <span class="badge badge-pill badge-success text-uppercase m-0">Medium</span>
                                        </div>
                                        <img src="../../../assets/img/user-log.png" alt="" class="img-circle mx-3" width="40" height="40">
                                    </div>
                                </li>
                                <li class="list-item d-flex justify-content-lg-between p-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="customCheck3" type="checkbox" checked="checked">
                                            <label class="custom-control-label d-block" for="customCheck3"></label>
                                        </div>
                                        <div>
                                            <h6 class="item-title m-0">Buy windows</h6>
                                            <p class="text-muted item-info m-0">#DE 8009 Description lorem ipsum lorem ipsum</p>
                                        </div>
                                    </div>
                                    <div class="ml-auto d-flex">
                                        <div class="d-flex flex-column">
                                            <span class="">5 Copies</span>
                                            <span class="badge badge-pill badge-info text-uppercase m-0">Final</span>
                                        </div>
                                        <img src="../../../assets/img/user-log.png" alt="" class="img-circle mx-3" width="40" height="40">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>